* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.sidebar {
    min-height: 100vh;
    width: 250px;
    background: linear-gradient(180deg, #0000ff, #0040ff);
    color: white;
    padding: 20px;
}

.sidebar .nav-link {
    color: #cfd8ff;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
}

.content {
    padding: 10px;
    width: 100%;
}

.topbar {
    /* background: #dcd3d3; */
    padding: 10px 15px;
    border-radius: 8px;
}

.user {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-right: 2rem;
}

.user i{
    font-size: 1.4rem;
}

.user img {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}