* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.nav {
    margin-top: 3rem;
}

.sidebar {
    min-height: 100%;
    width: 250px;
    background: linear-gradient(180deg, #3b82f6, #3b82f6);
    color: white;
    padding: 20px;
}

.sidebar .nav-link {
    color: #cfd8ff;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
}

.content {
    padding: 10px;
    width: 100%;
}

.topbar {
    /* background: #dcd3d3; */
    padding: 10px 15px;
    border-radius: 8px;
}

.user {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
}

.user i {
    font-size: 1.1rem;
}

.user img {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.user p {
    font-size: 14px;
}

.cards {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.card {
    padding: 10px;
    color: white;
    border-radius: 8px;
}

.summary-card {

    min-width: 190px;
    border-left-width: 6px !important;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-left: .8rem;
    margin-top: 2rem;
}

.sort-indicator {
    font-size: 1.2rem;
    color: #adb5bd;
    cursor: pointer;
}